In [2]:
#create product and price
p1_name, p1_price= "Books", 49.95
p2_name, p2_price ="Computer", 579.99
p3_name, p3_price= "Monitor", 124.89

#create company name and info
company_name = "Coding Temple, Inc."
company_address = " 283 Franklin St."
company_city = "Manchester city"

#ending message
message= "Thank you for shopping here!"

#top border
print("*" * 50)

#displaying info
print("\t\t{}".format(company_name))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

#border
print("="* 50)

#price
print("\t product name\tProduct Price")
print("\t{}\t\t${}".format(p1_name, p1_price))
print("\t{}\t\t${}".format(p2_name, p2_price))
print("\t{}\t\t${}".format(p3_name, p3_price))

#border
print("="* 50)

#total
total= p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

print ("="* 50)

#message

print("\n\t{}\n".format(message))

print("*"*50)

**************************************************
		Coding Temple, Inc.
		 283 Franklin St.
		Manchester city
==================================================
	 product name	Product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89
==================================================
			$754.83
==================================================

	Thank you for shopping here!

**************************************************